body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 800px;
    margin: auto; /* Centering the form */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    color: #333;
}

input {
    width: 80%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}

button:hover {
    background: #0056b3;
}

/* Questionnaire styles */
.question {
    background: #f9f9f9;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
}

.likert-scale {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.likert-scale label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    padding: 5px;
}

.likert-scale input {
    margin-top: 5px;
}

#image-container-1,  #image-container-2,  #image-container-3,  #image-container-4,  #image-container-5 {
    display: none;
}
/* Style for each image */
.image-container img {
    width: 800px;
    object-fit: cover;
}